.DataTypes {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  height: 5px;   
}
span.danger {
  color: red;
  margin-block-start: 0em;
  padding: 0px 4px;
  background: gray;
  margin-top: 10px;
  font-size: 17px;
}
.divDanger {
    text-align: start;
}

input.danger {
  border: 2px solid red;
}
.input{
  display: flex;
  height: 20px;
  padding: 2px;
}
.displayTrue {
  visibility: visible;
}
.FormatForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 3px;
}