.Pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Selects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 7px;
  padding-right: 15px;
}
.NoPokemonsToShow {
  background-color: rgba(0, 89, 255, 0.401);
}
/* .Paginado ol {
  list-style-type: none;

}
.Number {
    display: inline-block;
    color: #000;
} */